<style>

body {
    margin: 0;
}

header {
    font-family: arial, sans-serif;
    font-size: 0.8em;
}

.material-icons {
    color: #c6c8cc;
}

a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
}

.topnav {
    display: flex;
    align-items: center;
}

ul > a, ul > img {
    padding: 0 10px;
}

.apps-icon {
    height: 15px;
}

.apps-icon:hover {
    cursor: pointer;
}

.alexis {
    height: 30px;
    border-radius: 50%;
}

.center-logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 150px;
   margin-bottom: 25px;
}

.searchContainer #search {
    position:relative;
    top: 7px;
    left: 15px;
}

.mic {
    height: 20px;
}

.searchContainer .mic {
    position: relative;
    top: 5px;
    left: 440px;
}

.searchContainer {
    margin:0 auto;
    width: 500px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid #dadce0;
}

.searchBar {
    width: 400px;
    height: 30px;
    border: none;
    font-size: 15px;
    outline: none;
}

.searchButtons{
    text-align: center;  
}

button {
    margin-top: 30px;
    border: none;
    background-color: white;
}

button:hover {
    border: 1px solid #dadce0;
    padding: 5px 10px;
    border-radius: 4px;
}

footer {
    font-family: arial, sans-serif;
    font-size: 0.9em;
    display: flex;
    place-content: flex-end space-between;
    padding-right: 50px;
}

.footer-items {
    text-decoration: none;
}
</style>
