<style>

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial,sans-serif;
}

.topnav-right a {
    float: right;
    text-decoration: none;
    font-family: arial,sans-serif;
}

.center-logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 150px;
   margin-bottom: 25px;
}

.searchContainer i {
    position:relative;
    top: 2px;
    left: 5px;
}

#mic i {
    position: relative;
    top: 2px;
    left: 500px;
}

.searchContainer {
    margin:0 auto;
    width: 450px;
    height: 35px;
    border-radius: 30px;
    border:1px solid gray;
}

.searchBar {
    width: 300px;
    height: 30px;
    border: none;
    font-size: 15px;
    outline: none;
}

#gsearch {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#lucky {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer p {
    text-align: center;
    font-family: arial,sans-serif;
}

.footer li {
    display: inline;
    text-decoration: none;
    font-family: arial,sans-serif;
}

li:hover {
    text-decoration: underline;
}
</style>
